@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(255, 116, 0);
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 100px;
  border-radius: 50px;
}

header .logo {
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navegacao a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navegacao a:not(:last-child) {
  margin-right: 30px;
}

header .navegacao a:hover {
  background: #fff;
}

.content {
  max-width: 60px 100px;
}

.content .info h2 {
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}


h3{
  
font-size: 40px;
}
#crescendo{
  font-size: 35px;
}

#texto{
  width: 80vw;
}
#box{
  gap:10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: yellow;
  width: 80vw;
  height: 40vh;
  align-items: center;
  margin: 80px ;

}
#valores{
  display: grid;
  background-color: orange;
  place-items: center;
  height: 40vh;
}
#visao{
  display: grid;
  background-color: orange;
  height: 40vh;
  place-items: center;
}
#pontos{
  margin: 80px ;
  height: 50vh;
  width: 80vw;
  display: grid;
  place-items: center;
}
#riogrande{
  font-size: 20px;
}
#quem{
  margin-left: 9vw;
  margin-bottom: 2vh;

}
#crescendo{
  margin-left: 9vw;
  margin-bottom: 7vh;
}
#texto{
  font-size: 20px;
  display: grid;
  background-color: white;
  margin-left: 8vw;
  width: 70vw;
  height: 10vw;
  padding-left: 10px;
  padding-right: 10px;
  place-items: center;
  background: rgba(253, 249, 249, 0.6);
}

#contatoTexto{
  background-image: url(./img/celular.jpeg );
  width:70vw;
  height: 50vh;

}
h4{
  font-size: 5px;
  border:1px solid blue;
  font-size: 70px;
  width: 60vw;
}
#texto1{
  color:rgb(13, 14, 13);
  font-size: 50px;
  height: 50vh;
  width:40vw;
  padding: 20px;
  
}
#whats{
  border:1px solid black;
  display:flex;
  flex-direction: column;
  
}

#texto2{
  color:yellow
}
#papai{
  display:flex
}



